<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor type="Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel" patch:after="processor[@type='Sitecore.Pipelines.RenderField.SetParameters, Sitecore.Kernel']">
          <patch:attribute name="type">Helpfulcore.WebEdit.Pipelines.RenderField.AddBeforeAndAfterValues, Helpfulcore.WebEdit</patch:attribute>
        </processor>
        <processor type="Sitecore.Pipelines.RenderField.RenderWebEditing, Sitecore.Kernel">
          <patch:attribute name="type">Helpfulcore.WebEdit.Pipelines.RenderField.RenderWebEditing, Helpfulcore.WebEdit</patch:attribute>
        </processor>
        <processor type="Helpfulcore.WebEdit.Pipelines.RenderField.CollectItemReferences, Helpfulcore.WebEdit"></processor>
      </renderField>
      <getItemReferences>
        <processor type="Helpfulcore.WebEdit.Pipelines.GetItemReferences.FromEditableFields, Helpfulcore.WebEdit"/>
      </getItemReferences>
      <getChromeData>
        <processor type="Helpfulcore.WebEdit.Pipelines.GetChromeData.EditFrameCollectItemReferences, Helpfulcore.WebEdit"></processor>
      </getChromeData>
    </pipelines>
    <events>
      <event name="publish:itemProcessed">
        <handler type="Helpfulcore.WebEdit.Events.PublishEnd.ItemReferencesEventHandler, Helpfulcore.WebEdit" method="ClearItemReferences"></handler>
      </event>
    </events>
    <helpfulcore>
      <webEdit>
        <itemReferences type="Helpfulcore.WebEdit.ItemReferenceCollection, Helpfulcore.WebEdit" singleInstance="true"></itemReferences>
      </webEdit>
    </helpfulcore>
  </sitecore>
</configuration>